{% extends "components/base.html" %}

{% block content %}
<style>

    body {
        background: black;
        overflow: hidden;
        position: relative;
        min-height: 100vh;
        margin: 0;
    }

    .triangle {
        position: fixed;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10vw solid transparent;
        border-right: 10vw solid transparent;
        filter: blur(15px);
        opacity: 0.7;
        min-width: 400px;
    }

    .triangle-bottom {
        top: 40%;
        border-bottom: 20.32vw solid rgb(85, 6, 6);
        transform: translateX(-50%);
        animation: glowPulse 4s infinite alternate;
    }

    .triangle-top {
        top: 18%;
        border-top: 20.32vw solid rgb(85, 6, 6);
        transform: translateX(-50%);
        animation: glowPulse 4s infinite alternate;
    }

    @media screen and (max-width: 768px), (max-device-width: 768px) {
        .triangle-top{
            top:26%;
            border-top: 22.32vw solid rgb(85, 6, 6);
        }

         .triangle-bottom {
            top:53%;
            border-bottom: 28.32vw solid rgb(85, 6, 6);
        }
    }

    @keyframes glowPulse {
        0% {
            opacity: 0.15;
            filter: blur(20px);
            /* transform: scale(0.9); */
        }
        100% {
            opacity: 0.5;
            filter: blur(25px);
            /* transform: scale(1.1); */
        }
    }

    .panel{
        width: 700px;
        height: 600px;
        background: rgb(33, 37, 41);
        border-radius: 10px;
        position: absolute;
        top: 20%;
        left: 32%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(85, 85, 85, 0.979);
        width: 90vw;
        max-width: 700px;
        left: 50%;
        transform: translateX(-50%);
    }
    .fbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .fcol{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    </style>
    <div class="triangle triangle-bottom"></div>
    <div class="triangle triangle-top"></div>
    <div class="fbox">
            <div class="panel" >
                <div class="fcol">
                    <h1>Spider Cam</h1>
                    <img src="{% url 'spider_cam:video_feed' %}" width="640" height="480" style="transform: rotateY(180deg) rotateX(180deg);">

                </div>
            </div>
    </div>
{% endblock %}